---
import { Image } from "astro:assets";

import VolcanoImage from "@assets/img/home/volcan.jpg";
import CanyonIllustration from "@assets/img/home/cayon.jpg";
import MountainIllustration from "@assets/img/home/montain.jpg";
import CoastIllustration from "@assets/img/home/coast.jpg";

type IconKey =
  | "photographers"
  | "natureLovers"
  | "sustainableTravelers"
  | "auroraChasers"
  | "soloTravelers"
  | "contentCreators"
  | "honeymooners";

interface SectionContent {
  hero: {
    title: string;
    paragraphs: string[];
    backgroundAlt: string;
  };
  discovery: {
    title: string;
    description?: string;
    items: { label: string; icon: IconKey }[];
    galleryAlt: string[];
  };
}

const { content } = Astro.props;

const gallerySources = [
  CanyonIllustration,
  MountainIllustration,
  CoastIllustration,
];

const iconMap: Record<IconKey, { viewBox: string; markup: string }> = {
  photographers: {
    viewBox: "0 0 24 24",
    markup: `
    <svg width="27" height="23" viewBox="0 0 27 23" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M25.9253 4.00457L26.2816 3.6538L26.2788 3.65101L25.9253 4.00457ZM25.9031 3.98236L26.2566 3.62879L26.2538 3.62604L25.9031 3.98236ZM19.1097 16.2274C19.272 16.004 19.2225 15.6913 18.9991 15.529C18.7757 15.3667 18.463 15.4162 18.3007 15.6396L18.7052 15.9335L19.1097 16.2274ZM19.375 12.3333C19.375 12.6095 19.5989 12.8333 19.875 12.8333C20.1511 12.8333 20.375 12.6095 20.375 12.3333H19.875H19.375ZM8.08334 3.33333C7.8072 3.33333 7.58334 3.55719 7.58334 3.83333C7.58334 4.10948 7.8072 4.33333 8.08334 4.33333V3.83333V3.33333ZM10.9167 4.33333C11.1928 4.33333 11.4167 4.10948 11.4167 3.83333C11.4167 3.55719 11.1928 3.33333 10.9167 3.33333V3.83333V4.33333ZM4.13602 22.25V22.75H23.3683V22.25V21.75H4.13602V22.25ZM22.52 3.40764V2.90764H14.2609V3.40764V3.90764H22.52V3.40764ZM10.9891 1V0.5H7.51088V1V1.5H10.9891V1ZM4.23914 3.40764V2.90764H3.59234V3.40764V3.90764H4.23914V3.40764ZM7.51088 1V0.5C6.54204 0.5 5.68578 1.1301 5.39764 2.05511L5.87501 2.20382L6.35238 2.35252C6.51035 1.84543 6.97975 1.5 7.51088 1.5V1ZM12.625 2.20382L13.1024 2.05511C12.8142 1.1301 11.958 0.5 10.9891 0.5V1V1.5C11.5203 1.5 11.9897 1.84543 12.1476 2.35252L12.625 2.20382ZM26.5 7.38756H27C27 6.46848 27.001 5.72939 26.9238 5.14921C26.8446 4.55494 26.6754 4.05386 26.2816 3.6538L25.9253 4.00457L25.569 4.35534C25.7498 4.53909 25.868 4.79646 25.9325 5.2812C25.999 5.78004 26 6.44052 26 7.38756H26.5ZM22.52 3.40764V3.90764C23.4671 3.90764 24.1276 3.90868 24.6264 3.9751C25.1112 4.03965 25.3685 4.15779 25.5523 4.33868L25.9031 3.98236L26.2538 3.62604C25.8538 3.23221 25.3527 3.06298 24.7584 2.98385C24.1782 2.90659 23.4391 2.90764 22.52 2.90764V3.40764ZM25.9253 4.00457L26.2788 3.65101L26.2566 3.62879L25.9031 3.98236L25.5495 4.33592L25.5717 4.35813L25.9253 4.00457ZM23.3683 22.25V22.75C23.8895 22.75 24.3091 22.7504 24.6489 22.7238C24.9943 22.6969 25.2984 22.6399 25.5825 22.5035L25.366 22.0528L25.1495 21.6021C25.023 21.6628 24.8573 21.7045 24.5711 21.7269C24.2792 21.7496 23.9052 21.75 23.3683 21.75V22.25ZM26.5 19.1096H26C26 19.6494 25.9996 20.0257 25.9768 20.3191C25.9545 20.6071 25.9127 20.7733 25.8521 20.8995L26.3028 21.116L26.7535 21.3325C26.8901 21.0482 26.9469 20.7431 26.9738 20.3965C27.0003 20.0554 27 19.6337 27 19.1096H26.5ZM25.366 22.0528L25.5825 22.5035C26.0945 22.2575 26.5075 21.8445 26.7535 21.3325L26.3028 21.116L25.8521 20.8995C25.7045 21.2067 25.4567 21.4545 25.1495 21.6021L25.366 22.0528ZM14.2609 3.40764V2.90764C13.7297 2.90764 13.2603 2.56221 13.1024 2.05511L12.625 2.20382L12.1476 2.35252C12.4358 3.27753 13.292 3.90764 14.2609 3.90764V3.40764ZM1.00001 19.1096H0.500014C0.500014 19.6337 0.499662 20.0554 0.526174 20.3966C0.553107 20.7432 0.60997 21.0483 0.746589 21.3326L1.19727 21.1161L1.64795 20.8996C1.58731 20.7734 1.54555 20.6072 1.52316 20.3191C1.50036 20.0257 1.50001 19.6494 1.50001 19.1096H1.00001ZM4.13602 22.25V21.75C3.59767 21.75 3.22254 21.7496 2.92988 21.7269C2.64274 21.7045 2.47679 21.6628 2.35044 21.6021L2.13391 22.0527L1.91739 22.5034C2.20162 22.64 2.50622 22.6969 2.85223 22.7238C3.19272 22.7504 3.61336 22.75 4.13602 22.75V22.25ZM1.19727 21.1161L0.746589 21.3326C0.992532 21.8445 1.40547 22.2575 1.91739 22.5034L2.13391 22.0527L2.35044 21.6021C2.04329 21.4545 1.79552 21.2067 1.64795 20.8996L1.19727 21.1161ZM5.87501 2.20382L5.39764 2.05511C5.23967 2.56221 4.77027 2.90764 4.23914 2.90764V3.40764V3.90764C5.20799 3.90764 6.06424 3.27753 6.35238 2.35252L5.87501 2.20382ZM1.00002 5.99954H1.50002C1.50003 5.42067 1.50342 5.21805 1.54043 5.06185L1.05389 4.94659L0.567365 4.83132C0.49664 5.12986 0.50003 5.47763 0.500025 5.99954H1.00002ZM3.59234 3.40764V2.90764C3.07019 2.90764 2.72228 2.90424 2.42374 2.97496L2.539 3.4615L2.65425 3.94803C2.81045 3.91103 3.01319 3.90764 3.59234 3.90764V3.40764ZM1.05389 4.94659L1.54043 5.06185C1.6712 4.50983 2.10223 4.0788 2.65425 3.94803L2.539 3.4615L2.42374 2.97496C1.5037 3.19292 0.785328 3.91128 0.567365 4.83132L1.05389 4.94659ZM18.7052 15.9335L18.3007 15.6396C17.5135 16.7232 16.3655 17.4903 15.0631 17.8029L15.1799 18.2891L15.2966 18.7753C16.8304 18.407 18.1825 17.5036 19.1097 16.2274L18.7052 15.9335ZM15.1799 18.2891L15.0631 17.8029C13.7608 18.1156 12.3897 17.9533 11.1963 17.3452L10.9693 17.7907L10.7423 18.2363C12.1478 18.9524 13.7627 19.1435 15.2966 18.7753L15.1799 18.2891ZM10.9693 17.7907L11.1963 17.3452C10.003 16.7372 9.06573 15.7233 8.55319 14.4859L8.09125 14.6773L7.62931 14.8686C8.23297 16.326 9.33682 17.5201 10.7423 18.2363L10.9693 17.7907ZM8.09125 14.6773L8.55319 14.4859C8.04065 13.2485 7.98644 11.8689 8.40032 10.5951L7.92479 10.4406L7.44926 10.2861C6.96181 11.7863 7.02565 13.4113 7.62931 14.8686L8.09125 14.6773ZM7.92479 10.4406L8.40032 10.5951C8.81419 9.32133 9.66899 8.23703 10.8109 7.53723L10.5497 7.11091L10.2884 6.68459C8.94347 7.5088 7.93671 8.78587 7.44926 10.2861L7.92479 10.4406ZM10.5497 7.11091L10.8109 7.53723C11.9529 6.83743 13.3071 6.56807 14.6299 6.77759L14.7082 6.28374L14.7864 5.7899C13.2284 5.54313 11.6334 5.86039 10.2884 6.68459L10.5497 7.11091ZM14.7082 6.28374L14.6299 6.77759C15.9528 6.9871 17.1575 7.66175 18.0273 8.68019L18.4075 8.35546L18.7877 8.03074C17.7632 6.83125 16.3444 6.03666 14.7864 5.7899L14.7082 6.28374ZM18.4075 8.35546L18.0273 8.68019C18.8971 9.69862 19.375 10.994 19.375 12.3333H19.875H20.375C20.375 10.7559 19.8121 9.23023 18.7877 8.03074L18.4075 8.35546ZM8.08334 3.83333V4.33333H10.9167V3.83333V3.33333H8.08334V3.83333ZM1.00002 5.99954H0.500025L0.500014 19.1096H1.00001H1.50001L1.50002 5.99954H1.00002ZM26.5 19.1096H27V7.38756H26.5H26V19.1096H26.5Z" fill="black"/>
    </svg>
    `,
  },
  natureLovers: {
    viewBox: "0 0 24 24",
    markup: `
    <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 22.4997C0.723858 22.4997 0.5 22.7236 0.5 22.9997C0.5 23.2759 0.723858 23.4997 1 23.4997V22.9997V22.4997ZM26 23.4997C26.2761 23.4997 26.5 23.2759 26.5 22.9997C26.5 22.7236 26.2761 22.4997 26 22.4997V22.9997V23.4997ZM7.33864 11.9211C7.33864 11.6449 7.11479 11.4211 6.83864 11.4211C6.5625 11.4211 6.33864 11.6449 6.33864 11.9211H6.83864H7.33864ZM5.24938 12.379C5.09441 12.1505 4.7835 12.0908 4.55494 12.2458C4.32638 12.4008 4.26672 12.7117 4.42169 12.9402L4.83553 12.6596L5.24938 12.379ZM10.1774 3.7966L10.633 3.59067L10.633 3.59065L10.1774 3.7966ZM3.50012 3.79668L3.92835 4.0548L3.50012 3.79668ZM6.33864 22.9997C6.33864 23.2759 6.5625 23.4997 6.83864 23.4997C7.11479 23.4997 7.33864 23.2759 7.33864 22.9997H6.83864H6.33864ZM2.16468 15.6133L1.86797 16.0158L1.86797 16.0158L2.16468 15.6133ZM12.8056 9.93739L12.3249 10.0752C12.3736 10.245 12.5083 10.3765 12.6792 10.4212C12.8501 10.4658 13.0318 10.417 13.1573 10.2927L12.8056 9.93739ZM21.1873 10.6253C21.1873 10.3492 20.9634 10.1253 20.6873 10.1253C20.4111 10.1253 20.1873 10.3492 20.1873 10.6253H20.6873H21.1873ZM23.4815 12.4279C23.7176 12.2847 23.7929 11.9772 23.6498 11.7411C23.5066 11.505 23.1991 11.4296 22.963 11.5728L23.2222 12.0003L23.4815 12.4279ZM23.7081 5.44954L24.1579 5.23118L24.1579 5.23116L23.7081 5.44954ZM17.6667 5.44961L18.1006 5.69809L18.1041 5.69183L17.6667 5.44961ZM24.9163 15.4036L24.6106 15.0079C24.5918 15.0224 24.5741 15.0382 24.5576 15.0553L24.9163 15.4036ZM20.1873 23C20.1873 23.2761 20.4111 23.5 20.6873 23.5C20.9634 23.5 21.1873 23.2761 21.1873 23H20.6873H20.1873ZM15.8439 7.62673C15.7067 7.86636 15.7897 8.17186 16.0293 8.30908C16.269 8.4463 16.5745 8.36327 16.7117 8.12363L16.2778 7.87518L15.8439 7.62673ZM16.5585 10.7457L16.9593 10.4468L16.5585 10.7457ZM14.6944 14.7498C14.6944 14.4737 14.4705 14.2498 14.1944 14.2498C13.9183 14.2498 13.6944 14.4737 13.6944 14.7498L14.1944 14.7498L14.6944 14.7498ZM13.6943 22.9997C13.6943 23.2759 13.9182 23.4997 14.1943 23.4997C14.4705 23.4997 14.6943 23.2759 14.6943 22.9997L14.1943 22.9997L13.6943 22.9997ZM10.7223 18.1873L11.0742 17.8321L10.7223 18.1873ZM11.8314 12.2791C11.9856 12.0501 11.9249 11.7394 11.6959 11.5851C11.4668 11.4309 11.1561 11.4915 11.0019 11.7206L11.4166 11.9999L11.8314 12.2791ZM1 22.9997V23.4997H26V22.9997V22.4997H1V22.9997ZM6.83864 15.6139L7.25249 15.3334L5.24938 12.379L4.83553 12.6596L4.42169 12.9402L6.4248 15.8945L6.83864 15.6139ZM10.1774 3.7966L10.633 3.59065C9.94469 2.06789 8.84263 0.75835 7.41757 0.533267C5.9367 0.299369 4.43848 1.27142 3.0719 3.53856L3.50012 3.79668L3.92835 4.0548C5.23267 1.89094 6.40538 1.38579 7.26156 1.52102C8.17356 1.66507 9.07468 2.57099 9.72177 4.00254L10.1774 3.7966ZM6.83864 16.3525H7.33864V15.6139H6.83864H6.33864V16.3525H6.83864ZM6.83864 22.9997H7.33864V16.3525H6.83864H6.33864V22.9997H6.83864ZM2.16468 15.6133L1.86797 16.0158C2.76282 16.6755 3.82304 16.8713 4.72995 16.9142C5.18667 16.9359 5.61677 16.9192 5.98128 16.8981C6.3622 16.8761 6.63523 16.8525 6.83864 16.8525V16.3525V15.8525C6.59694 15.8525 6.25842 15.8805 5.9236 15.8998C5.57236 15.9201 5.18251 15.9346 4.77728 15.9154C3.96029 15.8767 3.12865 15.7028 2.46139 15.2109L2.16468 15.6133ZM2.16468 15.6133L2.46139 15.2109C2.09904 14.9437 1.80633 14.4339 1.64172 13.6628C1.47889 12.9 1.45531 11.9416 1.57649 10.8691C1.81881 8.72449 2.63018 6.20845 3.92835 4.0548L3.50012 3.79668L3.0719 3.53856C1.69902 5.81615 0.841193 8.4701 0.582815 10.7568C0.453649 11.9 0.471845 12.9726 0.663751 13.8715C0.853873 14.7621 1.22884 15.5446 1.86797 16.0158L2.16468 15.6133ZM12.8056 9.93739L13.2862 9.79954C12.7514 7.9352 11.2546 4.96601 10.633 3.59067L10.1774 3.7966L9.72176 4.00253C10.3839 5.46746 11.8169 8.3041 12.3249 10.0752L12.8056 9.93739ZM20.6873 13.5373H21.1873V10.6253H20.6873H20.1873V13.5373H20.6873ZM20.6873 13.5373L20.9465 13.9649L23.4815 12.4279L23.2222 12.0003L22.963 11.5728L20.428 13.1098L20.6873 13.5373ZM23.7081 5.44954L24.1579 5.23116C23.5162 3.90957 22.4159 2.80322 21.0872 2.61075C19.6973 2.40942 18.3222 3.23375 17.2293 5.20739L17.6667 5.44961L18.1041 5.69183C19.0945 3.90336 20.1359 3.48339 20.9439 3.60042C21.813 3.72631 22.6917 4.50099 23.2583 5.66793L23.7081 5.44954ZM20.6873 16.0258C20.5763 16.5134 20.5764 16.5134 20.5766 16.5134C20.5767 16.5134 20.5768 16.5135 20.5769 16.5135C20.5772 16.5136 20.5775 16.5136 20.5778 16.5137C20.5785 16.5139 20.5794 16.5141 20.5804 16.5143C20.5825 16.5148 20.5853 16.5154 20.5888 16.5162C20.5959 16.5177 20.6057 16.5198 20.6181 16.5224C20.6431 16.5277 20.6786 16.5349 20.7237 16.5435C20.8137 16.5607 20.942 16.5833 21.0993 16.606C21.4128 16.6513 21.8468 16.6979 22.3254 16.7014C23.2434 16.7082 24.4907 16.5596 25.275 15.7519L24.9163 15.4036L24.5576 15.0553C24.0815 15.5455 23.2143 15.708 22.3328 15.7015C21.9118 15.6983 21.5249 15.6571 21.2423 15.6163C21.1016 15.5959 20.9881 15.5759 20.9109 15.5612C20.8723 15.5538 20.8429 15.5478 20.8237 15.5438C20.8141 15.5418 20.8071 15.5403 20.8028 15.5393C20.8007 15.5388 20.7992 15.5385 20.7984 15.5384C20.7981 15.5383 20.7979 15.5382 20.7978 15.5382C20.7978 15.5382 20.7978 15.5382 20.7979 15.5382C20.7979 15.5382 20.798 15.5383 20.798 15.5383C20.7981 15.5383 20.7983 15.5383 20.6873 16.0258ZM20.6873 16.0258H21.1873V13.5373H20.6873H20.1873V16.0258H20.6873ZM20.6873 23H21.1873V16.0258H20.6873H20.1873V23H20.6873ZM24.9163 15.4036L25.2219 15.7993C25.9542 15.2337 26.3191 14.4325 26.4458 13.5521C26.5711 12.6807 26.4681 11.7082 26.2499 10.7369C25.8134 8.7944 24.8846 6.72809 24.1579 5.23118L23.7081 5.44954L23.2583 5.66791C23.9813 7.15726 24.8649 9.1348 25.2742 10.9562C25.4789 11.8669 25.5571 12.7062 25.4559 13.4097C25.3561 14.1039 25.0866 14.6403 24.6106 15.0079L24.9163 15.4036ZM17.6667 5.44961L17.2328 5.20116L15.8439 7.62673L16.2778 7.87518L16.7117 8.12363L18.1006 5.69806L17.6667 5.44961ZM16.5585 10.7457L16.9593 10.4468C16.3095 9.57565 15.6302 8.90155 14.8479 8.69615C13.9995 8.4734 13.2085 8.8349 12.4538 9.58207L12.8056 9.93739L13.1573 10.2927C13.7915 9.66486 14.2344 9.56898 14.5939 9.66337C15.0195 9.77511 15.5222 10.1927 16.1577 11.0446L16.5585 10.7457ZM14.1944 18.8748C13.9821 19.3275 13.9823 19.3276 13.9826 19.3277C13.9826 19.3277 13.9829 19.3279 13.9831 19.3279C13.9834 19.3281 13.9838 19.3283 13.9842 19.3285C13.985 19.3289 13.986 19.3293 13.987 19.3298C13.9892 19.3308 13.9918 19.3319 13.9948 19.3333C14.001 19.3361 14.009 19.3397 14.0189 19.3439C14.0386 19.3524 14.0656 19.3636 14.0994 19.3767C14.1668 19.4028 14.2616 19.4366 14.3792 19.4709C14.6133 19.5393 14.9434 19.6116 15.3305 19.627C16.1136 19.6583 17.1315 19.4546 18.025 18.5359L17.6666 18.1873L17.3082 17.8387C16.6549 18.5104 15.9367 18.6504 15.3704 18.6278C15.0828 18.6163 14.8349 18.5623 14.6596 18.5111C14.5725 18.4856 14.5048 18.4613 14.4609 18.4443C14.4389 18.4358 14.4231 18.4292 14.4138 18.4252C14.4092 18.4232 14.4063 18.4219 14.405 18.4213C14.4044 18.4211 14.4042 18.421 14.4045 18.4211C14.4046 18.4212 14.4049 18.4213 14.4052 18.4214C14.4054 18.4215 14.4056 18.4216 14.4059 18.4217C14.406 18.4218 14.4062 18.4219 14.4062 18.4219C14.4064 18.422 14.4066 18.4221 14.1944 18.8748ZM14.1944 18.8748L14.6944 18.8748L14.6944 14.7498L14.1944 14.7498L13.6944 14.7498L13.6944 18.8748L14.1944 18.8748ZM14.1943 22.9997L14.6943 22.9997L14.6944 18.8748L14.1944 18.8748L13.6944 18.8748L13.6943 22.9997L14.1943 22.9997ZM10.7223 18.1873L10.3704 18.5425C10.507 18.6778 10.9125 19.0796 11.5855 19.345C12.2683 19.6142 13.1955 19.731 14.3511 19.3496L14.1944 18.8748L14.0377 18.4C13.1101 18.7061 12.4236 18.6004 11.9523 18.4146C11.4713 18.225 11.1824 17.9393 11.0742 17.8321L10.7223 18.1873ZM17.6666 18.1873L18.025 18.5359C18.5153 18.0319 18.7475 17.3551 18.8239 16.6497C18.9004 15.943 18.8254 15.1679 18.6635 14.4116C18.3409 12.9054 17.6508 11.3739 16.9593 10.4468L16.5585 10.7457L16.1577 11.0446C16.7513 11.8406 17.3887 13.2347 17.6856 14.621C17.8334 15.3109 17.8912 15.9737 17.8297 16.5421C17.768 17.1119 17.5914 17.5475 17.3082 17.8387L17.6666 18.1873ZM10.7223 18.1873L11.0742 17.8321C10.9846 17.7433 10.5515 17.3225 10.431 16.4782C10.3105 15.6337 10.4901 14.2709 11.8314 12.2791L11.4166 11.9999L11.0019 11.7206C9.56622 13.8526 9.2759 15.4619 9.44107 16.6194C9.60625 17.777 10.2145 18.388 10.3704 18.5425L10.7223 18.1873ZM6.83864 15.6139L7.33864 15.6139L7.33864 11.9211H6.83864H6.33864L6.33864 15.6139H6.83864Z" fill="black"/>
    </svg>
    `,
  },
  sustainableTravelers: {
    viewBox: "0 0 24 24",
    markup: `
    <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17.9763 5.31325L17.5755 5.61217L17.9763 5.31325ZM21.2237 5.31327L20.8229 5.01436L21.2237 5.31327ZM19.6 6.69207L19.6 7.19207L19.6 6.69207ZM1.7763 19.3688L1.37549 19.6677H1.37549L1.7763 19.3688ZM5.02371 19.3688L4.6229 19.0699H4.6229L5.02371 19.3688ZM3.40002 20.7476L3.40003 21.2476L3.40002 20.7476ZM18.2488 8.113C18.1271 7.86511 17.8275 7.76281 17.5797 7.8845C17.3318 8.00619 17.2295 8.30579 17.3512 8.55367L17.8 8.33333L18.2488 8.113ZM8.2 11.3889L8.6654 11.5717L8.2 11.3889ZM3.85121 22.5227C3.58758 22.6048 3.44048 22.8852 3.52265 23.1488C3.60483 23.4124 3.88516 23.5595 4.14879 23.4773L4 23L3.85121 22.5227ZM17.9763 5.31325L18.3771 5.01433C17.9334 4.41934 17.7 3.90443 17.7 3.44444H17.2H16.7C16.7 4.23033 17.0901 4.96129 17.5755 5.61217L17.9763 5.31325ZM17.2 3.44444H17.7C17.7 2.90568 17.8333 2.42106 18.112 2.08051C18.3764 1.75731 18.8235 1.5 19.6 1.5V1V0.5C18.5765 0.5 17.8236 0.853804 17.338 1.44727C16.8667 2.02339 16.7 2.76098 16.7 3.44444H17.2ZM19.6 1V1.5C20.3765 1.5 20.8236 1.75731 21.088 2.08051C21.3667 2.42106 21.5 2.90568 21.5 3.44444H22H22.5C22.5 2.76098 22.3333 2.02339 21.862 1.44727C21.3764 0.853804 20.6235 0.5 19.6 0.5V1ZM22 3.44444H21.5C21.5 3.90444 21.2666 4.41936 20.8229 5.01436L21.2237 5.31327L21.6245 5.61218C22.1099 4.96129 22.5 4.23033 22.5 3.44444H22ZM17.9763 5.31325L17.5755 5.61217C17.9071 6.05675 18.1943 6.44506 18.4805 6.71261C18.791 7.00288 19.1419 7.19207 19.6 7.19207L19.6 6.69207L19.6 6.19207C19.4628 6.19207 19.3445 6.15145 19.1634 5.98212C18.958 5.79007 18.7311 5.48897 18.3771 5.01433L17.9763 5.31325ZM21.2237 5.31327L20.8229 5.01436C20.4689 5.48898 20.2421 5.79007 20.0366 5.98212C19.8555 6.15145 19.7373 6.19207 19.6 6.19207L19.6 6.69207L19.6 7.19207C20.0582 7.19207 20.4091 7.00288 20.7196 6.71261C21.0057 6.44506 21.293 6.05675 21.6245 5.61218L21.2237 5.31327ZM1.7763 19.3688L2.17711 19.0699C1.73338 18.4749 1.5 17.96 1.5 17.5H1H0.5C0.5 18.2859 0.890081 19.0168 1.37549 19.6677L1.7763 19.3688ZM1 17.5H1.5C1.5 16.9612 1.63335 16.4766 1.91198 16.1361C2.17642 15.8129 2.62346 15.5556 3.4 15.5556V15.0556V14.5556C2.37654 14.5556 1.62358 14.9094 1.13802 15.5028C0.666654 16.0789 0.5 16.8165 0.5 17.5H1ZM3.4 15.0556V15.5556C4.17654 15.5556 4.62358 15.8129 4.88802 16.1361C5.16665 16.4766 5.3 16.9612 5.3 17.5H5.8H6.3C6.3 16.8165 6.13335 16.0789 5.66198 15.5028C5.17642 14.9094 4.42346 14.5556 3.4 14.5556V15.0556ZM5.8 17.5H5.3C5.3 17.96 5.06663 18.4749 4.6229 19.0699L5.02371 19.3688L5.42453 19.6677C5.90994 19.0168 6.3 18.2859 6.3 17.5H5.8ZM1.7763 19.3688L1.37549 19.6677C1.70705 20.1123 1.9943 20.5006 2.28049 20.7682C2.59098 21.0584 2.94185 21.2476 3.40003 21.2476L3.40002 20.7476L3.40002 20.2476C3.26277 20.2476 3.14455 20.207 2.96341 20.0377C2.75798 19.8456 2.53108 19.5445 2.17711 19.0699L1.7763 19.3688ZM5.02371 19.3688L4.6229 19.0699C4.26894 19.5445 4.04205 19.8456 3.83663 20.0377C3.6555 20.207 3.53728 20.2476 3.40002 20.2476L3.40002 20.7476L3.40003 21.2476C3.8582 21.2476 4.20907 21.0584 4.51955 20.7682C4.80574 20.5006 5.09298 20.1123 5.42453 19.6677L5.02371 19.3688ZM20.2 3.44444H19.7C19.7 3.5145 19.6466 3.55556 19.6 3.55556V4.05556V4.55556C20.2161 4.55556 20.7 4.04941 20.7 3.44444H20.2ZM19.6 4.05556V3.55556C19.5534 3.55556 19.5 3.5145 19.5 3.44444H19H18.5C18.5 4.04941 18.9839 4.55556 19.6 4.55556V4.05556ZM19 3.44444H19.5C19.5 3.37439 19.5534 3.33333 19.6 3.33333V2.83333V2.33333C18.9839 2.33333 18.5 2.83948 18.5 3.44444H19ZM19.6 2.83333V3.33333C19.6466 3.33333 19.7 3.37439 19.7 3.44444H20.2H20.7C20.7 2.83948 20.2161 2.33333 19.6 2.33333V2.83333ZM4 17.5H3.5C3.5 17.5701 3.44662 17.6111 3.4 17.6111V18.1111V18.6111C4.01612 18.6111 4.5 18.105 4.5 17.5H4ZM3.4 18.1111V17.6111C3.35338 17.6111 3.3 17.5701 3.3 17.5H2.8H2.3C2.3 18.105 2.78388 18.6111 3.4 18.6111V18.1111ZM2.8 17.5H3.3C3.3 17.4299 3.35338 17.3889 3.4 17.3889V16.8889V16.3889C2.78388 16.3889 2.3 16.895 2.3 17.5H2.8ZM3.4 16.8889V17.3889C3.44662 17.3889 3.5 17.4299 3.5 17.5H4H4.5C4.5 16.895 4.01612 16.3889 3.4 16.3889V16.8889ZM17.8 8.33333L17.3512 8.55367C17.9793 9.83324 18.8405 11.2844 19.2776 12.5457C19.4958 13.1755 19.57 13.6612 19.5035 13.9929C19.4728 14.1461 19.4142 14.2561 19.3312 14.3399C19.2465 14.4256 19.1087 14.5119 18.8766 14.571L19 15.0556L19.1234 15.5401C19.4913 15.4464 19.8035 15.2845 20.0422 15.0431C20.2827 14.7999 20.421 14.504 20.484 14.1894C20.605 13.5853 20.4542 12.887 20.2224 12.2182C19.7595 10.8822 18.8207 9.27787 18.2488 8.113L17.8 8.33333ZM19 15.0556L18.8766 14.571C18.6291 14.634 18.3015 14.6183 17.8818 14.5033C17.4655 14.3891 16.9958 14.1876 16.4838 13.9218C15.4542 13.3874 14.3367 12.6386 13.227 11.9325C12.1453 11.2441 11.0486 10.5807 10.1313 10.299C9.67135 10.1577 9.18806 10.0897 8.74734 10.2201C8.27316 10.3604 7.93159 10.7045 7.7346 11.2061L8.2 11.3889L8.6654 11.5717C8.76841 11.3094 8.89839 11.2183 9.0311 11.179C9.19727 11.1298 9.45622 11.1378 9.83767 11.2549C10.6031 11.49 11.5856 12.0732 12.6901 12.7761C13.7667 13.4612 14.9422 14.2483 16.0231 14.8094C16.5662 15.0913 17.1059 15.3274 17.6173 15.4676C18.1252 15.6069 18.6433 15.6623 19.1234 15.5401L19 15.0556ZM8.2 11.3889L7.7346 11.2061C7.52761 11.7332 7.6319 12.3164 7.83869 12.8552C8.04943 13.4044 8.39998 13.9938 8.80864 14.5879C9.61965 15.7668 10.7538 17.0921 11.6626 18.2599C12.1253 18.8544 12.5344 19.413 12.8403 19.9162C13.1522 20.4292 13.3273 20.838 13.3702 21.1395C13.3906 21.2833 13.3775 21.3798 13.3537 21.4447C13.332 21.5039 13.292 21.5636 13.2064 21.6239C13.0121 21.761 12.5975 21.8889 11.8 21.8889V22.3889V22.8889C12.6525 22.8889 13.3281 22.7617 13.7826 22.4412C14.0215 22.2728 14.1956 22.0532 14.2925 21.7891C14.3874 21.5305 14.3973 21.2597 14.3602 20.9987C14.2879 20.4906 14.0251 19.94 13.6948 19.3967C13.3585 18.8436 12.9212 18.2488 12.4518 17.6457C11.4963 16.418 10.4233 15.1707 9.63252 14.0211C9.24029 13.4509 8.94128 12.9372 8.77231 12.4969C8.5994 12.0464 8.59385 11.7538 8.6654 11.5717L8.2 11.3889ZM11.8 22.3889V21.8889C8.86322 21.8889 6.89214 22.0425 5.64808 22.1983C5.02591 22.2762 4.585 22.3547 4.29562 22.415C4.1509 22.4452 4.04399 22.4708 3.97118 22.4895C3.93477 22.4988 3.90688 22.5065 3.88704 22.5121C3.87713 22.5149 3.86922 22.5172 3.86326 22.519C3.86029 22.5199 3.8578 22.5206 3.85579 22.5212C3.85479 22.5215 3.85391 22.5218 3.85314 22.5221C3.85276 22.5222 3.85241 22.5223 3.85209 22.5224C3.85193 22.5224 3.85171 22.5225 3.85163 22.5225C3.85141 22.5226 3.85121 22.5227 4 23C4.14879 23.4773 4.1486 23.4774 4.14842 23.4775C4.14837 23.4775 4.14819 23.4775 4.14809 23.4776C4.14789 23.4776 4.14772 23.4777 4.14758 23.4777C4.14729 23.4778 4.14713 23.4779 4.14709 23.4779C4.14702 23.4779 4.14743 23.4778 4.14834 23.4775C4.15016 23.477 4.15398 23.4758 4.15984 23.4742C4.17157 23.4708 4.19151 23.4654 4.22011 23.458C4.27733 23.4433 4.36921 23.4212 4.49954 23.394C4.76024 23.3397 5.17443 23.2654 5.77233 23.1906C6.9684 23.0408 8.89732 22.8889 11.8 22.8889V22.3889Z" fill="black"/>
    </svg>
    `,
  },
  auroraChasers: {
    viewBox: "0 0 24 24",
    markup: `
    <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.4821 20.3081C7.22038 20.3961 7.0796 20.6797 7.16767 20.9414C7.25574 21.2032 7.5393 21.3439 7.80103 21.2559L7.64156 20.782L7.4821 20.3081ZM5.28717 21.4955C5.56082 21.5325 5.81266 21.3407 5.84968 21.067C5.8867 20.7934 5.69487 20.5415 5.42122 20.5045L5.35419 21L5.28717 21.4955ZM0.525848 15.1594C0.438211 15.4213 0.579453 15.7046 0.84132 15.7923C1.10319 15.8799 1.38652 15.7387 1.47415 15.4768L1 15.3181L0.525848 15.1594ZM3.875 6.72731L3.40085 6.56861L3.40085 6.56863L3.875 6.72731ZM21.125 6.72731L21.5992 6.56863L21.5991 6.56861L21.125 6.72731ZM23.5258 15.477C23.6135 15.7388 23.8968 15.8801 24.1587 15.7924C24.4205 15.7048 24.5618 15.4215 24.4742 15.1596L24 15.3183L23.5258 15.477ZM12 12.4545C12 12.7306 12.2239 12.9545 12.5 12.9545C12.7761 12.9545 13 12.7306 13 12.4545H12.5H12ZM17.3482 21.3037C17.6123 21.3844 17.8918 21.2357 17.9725 20.9715C18.0531 20.7074 17.9044 20.428 17.6402 20.3473L17.4942 20.8255L17.3482 21.3037ZM19.7059 20.4855C19.4334 20.5302 19.2488 20.7874 19.2935 21.0599C19.3382 21.3324 19.5954 21.517 19.8679 21.4723L19.7869 20.9789L19.7059 20.4855ZM17.5312 2.16735L18.0093 2.02087L17.9995 1.98887L17.9855 1.95846L17.5312 2.16735ZM17.7719 4.65961C17.8528 4.92364 18.1325 5.07209 18.3965 4.99119C18.6605 4.9103 18.809 4.63068 18.7281 4.36665L18.25 4.51313L17.7719 4.65961ZM14.2606 1.69082L13.8793 1.36739V1.36739L14.2606 1.69082ZM13.4375 5.29548C13.4375 5.57162 13.6614 5.79548 13.9375 5.79548C14.2136 5.79548 14.4375 5.57162 14.4375 5.29548H13.9375H13.4375ZM7.35694 2.26823L7.83987 2.39775V2.39775L7.35694 2.26823ZM6.26707 4.40175C6.19553 4.66846 6.35376 4.94267 6.62048 5.0142C6.8872 5.08573 7.1614 4.92751 7.23293 4.66079L6.75 4.53127L6.26707 4.40175ZM7.74721 1.52247L7.41274 1.15081V1.15081L7.74721 1.52247ZM10.4968 1.33253L10.235 1.7585L10.4968 1.33253ZM10.5625 5.29548C10.5625 5.57162 10.7864 5.79548 11.0625 5.79548C11.3386 5.79548 11.5625 5.57162 11.5625 5.29548H11.0625H10.5625ZM10.8803 1.78152L10.4441 2.02589L10.8803 1.78152ZM7.64156 20.782L7.80103 21.2559C9.08617 20.8234 10.1674 19.9353 10.8386 18.76L10.4044 18.5121L9.97027 18.2641C9.42096 19.2259 8.53557 19.9536 7.4821 20.3081L7.64156 20.782ZM10.4044 18.5121L10.8386 18.76C11.5099 17.5847 11.7241 16.2043 11.4402 14.8816L10.9513 14.9866L10.4625 15.0915C10.6946 16.1732 10.5195 17.3023 9.97027 18.2641L10.4044 18.5121ZM10.9513 14.9866L11.4402 14.8816C11.1563 13.559 10.3944 12.3869 9.29989 11.5881L9.00511 11.9919L8.71033 12.3958C9.60692 13.0502 10.2303 14.0097 10.4625 15.0915L10.9513 14.9866ZM9.00511 11.9919L9.29989 11.5881C8.20543 10.7892 6.85467 10.4191 5.50451 10.5478L5.55196 11.0456L5.5994 11.5433C6.70649 11.4378 7.81368 11.7413 8.71033 12.3958L9.00511 11.9919ZM5.55196 11.0456L5.50451 10.5478C4.15435 10.6765 2.89838 11.2951 1.97568 12.2864L2.34168 12.6271L2.70767 12.9677C3.46322 12.156 4.49233 11.6489 5.5994 11.5433L5.55196 11.0456ZM2.34168 12.6271L1.97568 12.2864C1.05294 13.2778 0.527951 14.5728 0.501084 15.9251L1.00099 15.935L1.50089 15.945C1.52286 14.8391 1.95217 13.7794 2.70767 12.9677L2.34168 12.6271ZM1.00099 15.935L0.501084 15.9251C0.474217 17.2774 0.947366 18.5921 1.83005 19.6191L2.20924 19.2932L2.58843 18.9673C1.8658 18.1266 1.47892 17.0509 1.50089 15.945L1.00099 15.935ZM2.20924 19.2932L1.83005 19.6191C2.71269 20.6461 3.94315 21.3137 5.28717 21.4955L5.35419 21L5.42122 20.5045C4.31922 20.3554 3.3111 19.8082 2.58843 18.9673L2.20924 19.2932ZM1 15.3181L1.47415 15.4768L4.34915 6.88599L3.875 6.72731L3.40085 6.56863L0.525848 15.1594L1 15.3181ZM3.875 6.72731L4.34915 6.88601C4.62265 6.06887 5.68782 5.28103 7.21236 5.13067C8.69688 4.98424 10.5266 5.46676 12.1471 7.08094L12.5 6.72669L12.8529 6.37244C11.0234 4.55023 8.9 3.95936 7.1142 4.13549C5.36843 4.30768 3.8461 5.23836 3.40085 6.56861L3.875 6.72731ZM12.5 6.72669L12.8528 7.08095C14.5492 5.39135 16.3783 4.91494 17.8356 5.07638C19.3291 5.24184 20.3729 6.05569 20.6509 6.88601L21.125 6.72731L21.5991 6.56861C21.1583 5.25149 19.6865 4.27531 17.9457 4.08246C16.1686 3.8856 14.0445 4.4826 12.1472 6.37243L12.5 6.72669ZM21.125 6.72731L20.6508 6.88599L23.5258 15.477L24 15.3183L24.4742 15.1596L21.5992 6.56863L21.125 6.72731ZM12.5 6.72669H12V12.4545H12.5H13V6.72669H12.5ZM17.4942 20.8255L17.6402 20.3473C16.5771 20.0227 15.6713 19.3203 15.0948 18.3744L14.6678 18.6346L14.2409 18.8948C14.9453 20.0506 16.0513 20.9078 17.3482 21.3037L17.4942 20.8255ZM14.6678 18.6346L15.0948 18.3744C14.5184 17.4285 14.3112 16.3048 14.5125 15.2169L14.0208 15.1259L13.5292 15.035C13.2831 16.3651 13.5365 17.7389 14.2409 18.8948L14.6678 18.6346ZM14.0208 15.1259L14.5125 15.2169C14.7137 14.129 15.3095 13.1523 16.1871 12.4729L15.881 12.0775L15.5749 11.6822C14.5036 12.5117 13.7753 13.7048 13.5292 15.035L14.0208 15.1259ZM15.881 12.0775L16.1871 12.4729C17.0647 11.7934 18.1628 11.4587 19.2725 11.5329L19.3058 11.0341L19.3392 10.5352C17.9859 10.4447 16.6462 10.8527 15.5749 11.6822L15.881 12.0775ZM19.3058 11.0341L19.2725 11.5329C20.3821 11.6072 21.4253 12.085 22.2037 12.8751L22.5598 12.5242L22.916 12.1733C21.9655 11.2085 20.6925 10.6257 19.3392 10.5352L19.3058 11.0341ZM22.5598 12.5242L22.2037 12.8751C22.982 13.6652 23.4413 14.7123 23.4948 15.8172L23.9942 15.793L24.4936 15.7688C24.4282 14.4178 23.8666 13.1382 22.916 12.1733L22.5598 12.5242ZM23.9942 15.793L23.4948 15.8172C23.5482 16.922 23.1921 18.0082 22.4937 18.869L22.882 19.184L23.2703 19.499C24.1234 18.4474 24.5589 17.1199 24.4936 15.7688L23.9942 15.793ZM22.882 19.184L22.4937 18.869C21.7953 19.7298 20.8032 20.3054 19.7059 20.4855L19.7869 20.9789L19.8679 21.4723C21.2062 21.2526 22.4172 20.5505 23.2703 19.499L22.882 19.184ZM17.5312 2.16735L17.0532 2.31383L17.7719 4.65961L18.25 4.51313L18.7281 4.36665L18.0093 2.02087L17.5312 2.16735ZM17.5312 2.16735L17.9855 1.95846C17.1976 0.245048 15.011 0.0331808 13.8793 1.36739L14.2606 1.69082L14.642 2.01425C15.3138 1.22218 16.6033 1.34603 17.077 2.37624L17.5312 2.16735ZM13.9375 2.81774H13.4375V5.29548H13.9375H14.4375V2.81774H13.9375ZM14.2606 1.69082L13.8793 1.36739C13.8328 1.42224 13.7701 1.4947 13.7108 1.59274C13.6517 1.69047 13.6047 1.79797 13.5557 1.93129L14.025 2.10369L14.4944 2.27609C14.5329 2.17114 14.5543 2.13041 14.5664 2.11037C14.5784 2.09064 14.5897 2.07579 14.642 2.01425L14.2606 1.69082ZM13.9375 2.81774H14.4375C14.4375 2.49692 14.4411 2.42118 14.4944 2.27609L14.025 2.10369L13.5557 1.93129C13.4339 2.26273 13.4375 2.50418 13.4375 2.81774H13.9375ZM7.35694 2.26823L6.87401 2.13871L6.26707 4.40175L6.75 4.53127L7.23293 4.66079L7.83987 2.39775L7.35694 2.26823ZM7.74721 1.52247L8.08168 1.89413C8.32726 1.67313 8.69575 1.53113 9.10812 1.50449C9.51953 1.47792 9.9277 1.56965 10.235 1.7585L10.4968 1.33253L10.7586 0.906563C10.2499 0.59387 9.62977 0.468715 9.04367 0.50657C8.45852 0.544363 7.86023 0.748103 7.41274 1.15081L7.74721 1.52247ZM11.0625 2.69079H10.5625V5.29548H11.0625H11.5625V2.69079H11.0625ZM10.4968 1.33253L10.235 1.7585C10.3016 1.79948 10.2978 1.79931 10.3024 1.80437C10.3181 1.82139 10.3575 1.87138 10.4441 2.02589L10.8803 1.78152L11.3165 1.53715C11.2209 1.36642 11.1357 1.23317 11.0387 1.12762C10.9306 1.01012 10.8261 0.948084 10.7586 0.906563L10.4968 1.33253ZM11.0625 2.69079H11.5625C11.5625 2.50754 11.5638 2.31723 11.5331 2.13069C11.4994 1.92685 11.4313 1.74212 11.3165 1.53715L10.8803 1.78152L10.4441 2.02589C10.5115 2.14615 10.5345 2.22139 10.5464 2.29353C10.5612 2.38297 10.5625 2.48468 10.5625 2.69079H11.0625ZM7.35694 2.26823L7.83987 2.39775C7.89342 2.19811 7.90648 2.15345 7.9751 2.04159L7.54892 1.78012L7.12274 1.51864C6.97436 1.76049 6.93177 1.92334 6.87401 2.13871L7.35694 2.26823ZM7.74721 1.52247L7.41274 1.15081C7.38078 1.17958 7.33206 1.22276 7.27624 1.29237C7.22735 1.35333 7.17946 1.42619 7.12274 1.51864L7.54892 1.78012L7.9751 2.04159C8.02689 1.9572 8.04821 1.92816 8.05638 1.91798C8.05761 1.91644 8.05379 1.91923 8.08168 1.89413L7.74721 1.52247Z" fill="black"/>
    </svg>
    `,
  },
  soloTravelers: {
    viewBox: "0 0 24 24",
    markup: `
    <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.0938 3.52041L15.6713 2.03905C15.496 1.4243 14.9312 1 14.2883 1H10.7117C10.0688 1 9.504 1.4243 9.32869 2.03905L8.90625 3.52041M8.1875 18.8571V7.63265M16.8125 7.63265V18.8571M3.875 21H21.125C22.7128 21 24 19.7208 24 18.1429V8.14286C24 6.5649 22.7128 5.28571 21.125 5.28571H3.875C2.28718 5.28571 1 6.5649 1 8.14286V18.1429C1 19.7208 2.28718 21 3.875 21Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
        `,
  },
  contentCreators: {
    viewBox: "0 0 24 24",
    markup: `
    <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.0962 20.4201H6.98625C3.43125 20.4201 2.25 18.3201 2.25 16.2101V7.79008C2.25 4.63008 3.43125 3.58008 6.98625 3.58008H14.0962C17.6512 3.58008 18.8325 4.63008 18.8325 7.79008V16.2101C18.8325 19.3701 17.64 20.4201 14.0962 20.4201Z" stroke="#171717" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M21.96 17.0999L18.8325 15.1499V8.83989L21.96 6.88989C23.49 5.93989 24.75 6.51989 24.75 8.18989V15.8099C24.75 17.4799 23.49 18.0599 21.96 17.0999Z" stroke="#171717" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12.9375 11C13.8695 11 14.625 10.3284 14.625 9.5C14.625 8.67157 13.8695 8 12.9375 8C12.0055 8 11.25 8.67157 11.25 9.5C11.25 10.3284 12.0055 11 12.9375 11Z" stroke="#171717" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    `,
  },
  honeymooners: {
    viewBox: "0 0 24 24",
    markup: `
    <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="19" cy="4.24634" r="3.5" stroke="black"/>
    <mask id="path-2-inside-1_397_641" fill="white">
    <path d="M19.625 9.47095C22.5935 9.47095 24.9999 11.8775 25 14.8459C25 15.1877 24.9663 15.5219 24.9053 15.8459H13.2197C13.1587 15.5219 13.125 15.1877 13.125 14.8459C13.1251 11.8775 15.5316 9.47095 18.5 9.47095H19.625Z"/>
    </mask>
    <path d="M25 14.8459H26V14.8459L25 14.8459ZM24.9053 15.8459V16.8459H25.7346L25.888 16.0309L24.9053 15.8459ZM13.2197 15.8459L12.237 16.0309L12.3904 16.8459H13.2197V15.8459ZM13.125 14.8459L12.125 14.8459V14.8459H13.125ZM18.5 9.47095V8.47095H18.5L18.5 9.47095ZM19.625 9.47095V10.4709C22.0411 10.4709 23.9999 12.4298 24 14.846L25 14.8459L26 14.8459C25.9998 11.3253 23.1458 8.47095 19.625 8.47095V9.47095ZM25 14.8459H24C24 15.1217 23.9728 15.3939 23.9225 15.661L24.9053 15.8459L25.888 16.0309C25.9597 15.6499 26 15.2537 26 14.8459H25ZM24.9053 15.8459V14.8459H13.2197V15.8459V16.8459H24.9053V15.8459ZM13.2197 15.8459L14.2025 15.661C14.1522 15.3939 14.125 15.1217 14.125 14.8459H13.125H12.125C12.125 15.2537 12.1653 15.6499 12.237 16.0309L13.2197 15.8459ZM13.125 14.8459L14.125 14.846C14.1251 12.4298 16.0839 10.4709 18.5 10.4709L18.5 9.47095L18.5 8.47095C14.9792 8.47095 12.1252 11.3253 12.125 14.8459L13.125 14.8459ZM18.5 9.47095V10.4709H19.625V9.47095V8.47095H18.5V9.47095Z" fill="black" mask="url(#path-2-inside-1_397_641)"/>
    <circle cx="6" cy="4.24634" r="3.5" stroke="black"/>
    <mask id="path-5-inside-2_397_641" fill="white">
    <path d="M6.5 9.47095C9.46845 9.47095 11.8749 11.8775 11.875 14.8459C11.875 15.1877 11.8413 15.5219 11.7803 15.8459H0.0947266C0.0337493 15.5219 0 15.1877 0 14.8459C0.000129405 11.8775 2.40655 9.47095 5.375 9.47095H6.5Z"/>
    </mask>
    <path d="M6.5 9.47095V8.47095V9.47095ZM11.875 14.8459H12.875V14.8459L11.875 14.8459ZM11.7803 15.8459V16.8459H12.6096L12.763 16.0309L11.7803 15.8459ZM0.0947266 15.8459L-0.888025 16.0309L-0.734649 16.8459H0.0947266V15.8459ZM0 14.8459L-1 14.8459V14.8459H0ZM5.375 9.47095V8.47095V9.47095ZM6.5 9.47095V10.4709C8.91612 10.4709 10.8749 12.4298 10.875 14.846L11.875 14.8459L12.875 14.8459C12.8748 11.3253 10.0208 8.47095 6.5 8.47095V9.47095ZM11.875 14.8459H10.875C10.875 15.1217 10.8478 15.3939 10.7975 15.661L11.7803 15.8459L12.763 16.0309C12.8347 15.6499 12.875 15.2537 12.875 14.8459H11.875ZM11.7803 15.8459V14.8459H0.0947266V15.8459V16.8459H11.7803V15.8459ZM0.0947266 15.8459L1.07748 15.661C1.02722 15.3939 1 15.1217 1 14.8459H0H-1C-1 15.2537 -0.959722 15.6499 -0.888025 16.0309L0.0947266 15.8459ZM0 14.8459L1 14.846C1.00011 12.4298 2.95888 10.4709 5.375 10.4709V9.47095V8.47095C1.85422 8.47095 -0.999847 11.3253 -1 14.8459L0 14.8459ZM5.375 9.47095V10.4709H6.5V9.47095V8.47095H5.375V9.47095Z" fill="black" mask="url(#path-5-inside-2_397_641)"/>
    </svg>
    `,
  },
} as const;

const heroParagraphs = content.hero?.paragraphs ?? [];
const discoveryItems = content.discovery?.items ?? [];
const galleryAlts = content.discovery?.galleryAlt ?? [];
---

<section class="w-full flex flex-col gap-12 lg:gap-16">
  <div
    class="relative isolate overflow-hidden flex items-center justify-center"
  >
    <div class="absolute inset-0">
      <picture>
        <Image
          src={VolcanoImage}
          alt={content.hero.backgroundAlt}
          class="h-full w-full object-cover"
          loading="lazy"
          decoding="async"
        />
      </picture>
      <div
        class="absolute inset-0 bg-gradient-to-b from-black/60 via-black/30 to-black/70"
      >
      </div>
    </div>

    <div
      class="relative z-10 container px-4 lg:px-0 py-20 sm:py-24 lg:py-32 xl:py-40 2xl:py-44
      flex flex-col gap-6 text-[#DEDCD1]"
    >
      <h2
        class="text-3xl sm:text-4xl lg:text-5xl font-semibold leading-tight object-bottom"
        set:html={content.hero?.title ?? ""}
      />
      <div
        class="flex flex-col gap-4 font-light
      text-base sm:text-lg md:text-xl lg:text-2xl leading-relaxed lg:max-w-[40%]"
      >
        {
          heroParagraphs.map((paragraph: string) => (
            <p set:html={paragraph} class="[&>b]:font-bold" />
          ))
        }
      </div>
    </div>
  </div>
</section>

<section class="w-full py-16 sm:py-20 lg:py-24 px-4 lg:px-0 overflow-clip">
  <div
    class="relative container mx-auto
    grid gap-10 lg:grid-cols-10 lg:items-center"
  >
    <div class="flex flex-col gap-6 lg:col-span-3">
      <h3 class="text-2xl sm:text-3xl font-light text-primary-forest">
        {content.discovery?.title ?? ""}
      </h3>

      <ul class="grid gap-4">
        {
          discoveryItems.map((item: { icon: IconKey; label: string }) => (
            <li class="flex items-center gap-4">
              <span
                class="mt-1
              text-primary-forest"
              >
                <span
                  class="h-8 w-8"
                  aria-hidden="true"
                  set:html={iconMap[item.icon].markup}
                />
              </span>
              <span class="text-base sm:text-lg lg:text-xl xl:text-2xl font-light text-primary-forest">
                {item.label}
              </span>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="lg:col-span-7 overflow-auto lg:overflow-visible">
      <div
        class="relative
         flex gap-4 md:gap-8 lg:gap-8 items-start justify-start"
      >
        {
          gallerySources.map((image, index) => (
            <div
              class={`shrink-0
                aspect-[4/5]
                h-72 sm:h-80 md:h-96 lg:h-[32rem]
                rounded-2xl overflow-hidden
                ring-1 ring-primary-forest/15
                shadow-xl shadow-black/10
                bg-neutral-100
                transition-transform duration-300
                hover:-translate-y-1 hover:scale-[1.015]
                `}
            >
              <Image
                src={image}
                alt={galleryAlts[index] ?? ""}
                class="h-full w-full object-cover"
                loading="lazy"
                decoding="async"
                widths={[480, 768, 1024, 1280]}
                sizes="(min-width:1024px) 24rem, 58vw"
              />
              {/* degradado sutil inferior para dar profundidad */}
              <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-black/10 via-transparent to-transparent" />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
