---
import { getImage } from "astro:assets";
import type { ImageMetadata } from "astro";

interface TestimonialItem {
  name: string;
  quote: string;
  location?: string;
}

interface Props {
  title: string;
  subtitle: string;
  testimonials: TestimonialItem[];
  ctaLabel: string;
  backgroundImage: ImageMetadata;
  backgroundAlt: string;
}

const {
  title,
  subtitle,
  testimonials,
  ctaLabel,
  backgroundImage,
  backgroundAlt,
} = Astro.props as Props;

const optimizedBackground = await getImage({
  src: backgroundImage,
  widths: [640, 960, 1280, 1600, 1920],
  formats: ["avif", "webp", "jpeg"],
  quality: 70,
});
---

<section
  class="relative py-20 sm:py-24 lg:py-28 text-white"
  style={`background-image: url(${optimizedBackground.src}); background-size: cover; background-position: center;`}
>
  <span class="sr-only">{backgroundAlt}</span>
  <div class="absolute inset-0 bg-primary-forest/70"></div>

  <div class="relative container mx-auto px-4 md:px-6 lg:px-8">
    <div class="max-w-4xl text-center mx-auto">
      <h2 class="text-4xl md:text-4xl font-semibold">{title}</h2>
      <p
        class="mt-4 text-base md:text-lg lg:text-xl xl:text-2xl
       text-slate-100/90 font-light"
      >
        {subtitle}
      </p>
    </div>

    <div class="mt-12 grid gap-8 md:gap-10 md:grid-cols-2 xl:grid-cols-3">
      {
        testimonials.map((testimonial) => (
          <figure
            class="flex flex-col items-center gap-6 rounded-3xl
        bg-primary-forest p-8 py-12 text-center shadow-[0_20px_45px_rgba(0,0,0,0.25)]"
          >
            <span class="text-lg lg:text-xl font-semibold text-white">
              {testimonial.name}
            </span>
            <blockquote
              class="text-base md:text-lg lg:text-xl xl:text-2xl
            font-light leading-relaxed text-slate-100 mb-8"
            >
              “{testimonial.quote}”
            </blockquote>
            <figcaption class="flex w-full flex-col items-center gap-1">
              <span class="mt-6 text-lg font-semibold  text-primary-sky/80">
                {ctaLabel}
              </span>
            </figcaption>
          </figure>
        ))
      }
    </div>
  </div>
</section>
